<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1048673895057-gqvqvq0pmo9na4jhci92t4u51mepi77g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1048673895057-gqvqvq0pmo9na4jhci92t4u51mepi77g</string>
	<key>API_KEY</key>
	<string>AIzaSyBnew1t4WrlINUqsnyO6OBf5wYeDsCBTrQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1048673895057</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.atinitu.saveTheBilbyFund</string>
	<key>PROJECT_ID</key>
	<string>savebilby-29c2e</string>
	<key>STORAGE_BUCKET</key>
	<string>savebilby-29c2e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1048673895057:ios:f8d8eb886cffd026b77530</string>
</dict>
</plist>